:root {
  --media-player-height: 90px;
  --left-bar-width: 70px;
  --call-to-action-height: 90px;
}

/* setup generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

ul {
  list-style-type: none;
}

.debug * {
  min-height: 100px;
  padding: 5px;
  background-color: rgb(255, 9, 9);
  border: 2px rgb(22, 1, 140);
}

.border {
  border: 2px dashed black;
}
/* /setup generali */

/* utility */
.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.white {
  color: white;
}

.inline-switch {
  display: inline;
}

/* row-columns */

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

[class^="col"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.col-1-1 {
  width: calc(100%);
}

.col-1-3 {
  width: calc(100% / 3);
}

/* fine row-columns */

/* #### responsive #### */

/* da 0 a 638px */

body {
  background-color: #141922;
  color: white;
}

/* top-content xs */

.top-content {
  display: flex;
  height: calc(100vh - var(--media-player-height));
}

.movies-table {
  width: calc(100% - var(--left-bar-width));
  overflow: auto;
}

.call-to-action {
  height: var(--call-to-action-height);
  background-color: #080b12;
}
.main-content {
  height: calc(100vh - var(--call-to-action-height));
}

/*left-bar xs */

.left-bar {
  width: var(--left-bar-width);
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: gray;
}

.left-bar li:hover {
  color: white;
}
.left-bar li a:hover {
  color: white;
}

.bar-top {
  text-align: center;
  line-height: 50px;
  padding-left: 10px;
  width: 100%;
  list-style: none;
  height: 50%;
  overflow: auto;
}

.icons {
  text-align: left;
}

.icons img {
  width: 40px;
}
.icon-bottom {
  display: flex;
  text-align: center;
}
.icon-bottom img {
  width: 20px;
}

.user img {
  width: 30px;
  background-color: gray;
  border-radius: 50%;
}

.hidden-text {
  display: none;
  padding-left: 10px;
}

.hidden-icon {
  display: none;
}

.hidden-list {
  display: none;
  text-align: left;
  padding-left: 10px;
}
.bar-top ul li a {
  text-decoration: none;
  display: inline;
  color: gray;
}
.bar-top ul {
  max-width: var(--left-bar-width);
  display: inline;
  color: gray;
}

.bar-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding-bottom: 5px;
  padding-left: 30px;
}
.bar-bottom a {
  text-decoration: none;
  color: gray;
}
.bar-bottom a:hover {
  color: white;
}

/* media-player xs */

.media-player {
  height: var(--media-player-height);
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.track-names {
  max-width: 50%;
}

.track-info {
  display: flex;
  justify-content: space-between;
  gap: 5px;

  gap: 10px;
}

.media-player img {
  width: 40px;
}

.favorite {
  padding-left: 20px;
}

/* ##### da 639px a 877px ##### */

@media screen and (min-width: 639px) {
  :root {
    --left-bar-width: 300px;
  }
  .hidden-text {
    display: inline;
  }

  /* top-content s */

  /* left-bar xs */

  .bar-top {
    padding-top: 20px;
  }

  .switch-off {
    display: none;
  }
  .left-bar .hidden-icon {
    display: inline;
    width: 200px;
    padding-bottom: 10px;
  }

  .hidden-icon,
  .hidden-list {
    display: block;
  }

  .home {
    color: white;
    border-left: 5px solid greenyellow;
    margin-left: -10px;
    padding-left: 4px;
  }
}

/* da 878px a 1439px */
